* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS variables */
:root {
  --white: #fff;
  --black: #000;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.movies__container {
  display: flex;
  overflow-x: scroll;
  padding-left: 50px;
}

img {
  width: 200px;
}

.featured {
  height: 400px;
  background: url("https://image.tmdb.org/t/p/original//3lBDg3i6nn5R2NKFCJ6oKyUo2j5.jpg")
    no-repeat center center/cover;
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.featured::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.featured h1 {
  font-size: 50px;
  margin: 0;
  z-index: 10;
}

.featured .featured__buttons {
  z-index: 10;
}

.featured .featured__buttons button {
  font-size: 16px;
  color: white;
  background-color: rgba(109, 109, 110, 0.7);
  border: none;
  padding: 8px 24px;
  border-radius: 4px;
}

.featured .featured__buttons .button__play {
  background-color: var(--white);
  color: var(--black);
}

.featured .featured__buttons .button__play i {
  margin-right: 6px;
}

.featured .featured__description {
  max-width: 350px;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  z-index: 10;
}
